:root {
    --color-primary: #00838F;
    --color-primary-light: #4FB3BF;
    --color-primary-dark: #005662;

    --color-secondary: #FBC02D;
    --color-secondary-light: #FFF263;
    --color-secondary-dark: #C49000;

    --color-classic-dark: #414141;
    --color-classic-medium: #606267;
    --color-classic-light: #ececec;
    --color-classic-base: #FFFFFF;

    --color-success: #AFD31B;
    --color-success-dark: #70880e;

    --color-danger: #FA3838;
    --color-danger-dark: #a81d1d;

    --main-font: Nunito; 
}
body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: Nunito; 
    color: var(--color-primary-dark);
}
body{
    font-family: Nunito;

    color: var(--color-classic-dark);
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-ExtraBold.ttf);
    font-weight: 900;
}

a {
    color: var(--color-primary-dark);
}

main a{
    text-decoration: underline;
}

main a:hover,
main a:hover *  {
    color: var(--color-secondary-dark);
}

.alert.alert-danger {
    background-color: var(--color-secondary);
}

.alert.alert-success {
    background-color: var(--color-success);
}


h1{
    font-size: 2em;
    font-weight: 900;
}

.no-validate .is-invalid,
.no-validate .is-valid{
    border-color: var(--color-primary);
    background-image: none;
    padding-right: initial;
}








.btn{
    border-style: solid 1px;
    font-family: Nunito;
    color: var(--color-classic-base);
    height: calc(1.5em + .75rem + 2px);
    text-decoration: none;
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
    
}

.btn:hover,
.btn:focus{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-dark);
}

.btn:hover,
.btn:focus,
.btn:hover *,
.btn:focus *{
    color: var(--color-primary-dark);
}


.btn i{
    font-size: 1.2em;
    position: relative;
    top: 0.1rem;
}
.btn span{
    margin-left: 0.5rem;
}


.btn-success{
    color: var(--color-primary-dark);
    background-color: var(--color-success);
    border-color: var(--color-success-dark);
}

.btn-danger{
    color: var(--color-classic-base);
    background-color: var(--color-danger);
    border-color: var(--color-danger-dark);
}


.btn-light{
    color: var(--color-primary-dark);
    border-color: var(--color-classic-light);
    background-color: var(--color-classic-base);
}
.btn-light:hover,
.btn-light:focus{
    color: var(--color-classic-base);
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:hover *,
.btn-light:focus *{
    color: var(--color-classic-base);
}


table.listing thead{
    background-color: var(--color-primary);
    color: var(--color-classic-base);
}

table.listing th,
table.listing td {
    text-align: center;
    vertical-align: middle;
}


.listing__actions {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs span{
    color: var(--color-primary);
    font-size: 0.8em;
    font-weight: 700;
    text-transform:capitalize;
}

.breadcrumbs > span:last-child::before{
    content: ">";
    color: var(--color-classic-dark);
    margin-right: 0.3em;
}

.form-row--horizontal .form-group__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-row--horizontal .form-group__content .input-group {
    width: 40%;
}

main .input-group{
    border-color: var(--color-primary);
}

main .input-group input{
    border-color: var(--color-primary);
}