:root {
    --color-primary: #00838F;
    --color-primary-light: #4FB3BF;
    --color-primary-dark: #005662;

    --color-secondary: #FBC02D;
    --color-secondary-light: #FFF263;
    --color-secondary-dark: #C49000;

    --color-classic-dark: #414141;
    --color-classic-medium: #606267;
    --color-classic-light: #ececec;
    --color-classic-base: #FFFFFF;

    --color-success: #AFD31B;

    --main-font: Nunito; 
}
body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: Nunito; 
    color: var(--color-primary-dark);
}
body{
    font-family: Nunito;

    color: var(--color-classic-dark);
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-ExtraBold.ttf);
    font-weight: 900;
}

a {
    color: var(--color-primary-dark);
}

main a{
    text-decoration: underline;
}

main a:hover,
main a:hover *  {
    color: var(--color-secondary-dark);
}

.alert.alert-danger {
    background-color: var(--color-secondary);
}

.alert.alert-success {
    background-color: var(--color-success);
}


h1{
    font-size: 2em;
    font-weight: 900;
}


form button {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary-dark) !important;
}

form button:hover {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary-dark) !important;
}

form button i{
    color: var(--color-classic-base);
}

form button:hover i {
    color: var(--color-primary-dark);
}




.btn{
    font-family: Nunito;
    color: var(--color-primary-dark);
    height: calc(1.5em + .75rem + 2px);
    text-decoration: none;
}


.btn i{
    font-size: 1.2em;
    position: relative;
    top: 0.1rem;
}
.btn span{
    margin-left: 0.5rem;
}

.btn-light{
    border-style: solid 1px;
    border-color: var(--color-classic-light);
}
.btn-light:hover,
.btn-light:focus{
    color: var(--color-classic-base) !important;
    background-color: var(--color-primary) !important;
}

table.listing thead{
    background-color: var(--color-primary);
    color: var(--color-classic-base);
}

table.listing th,
table.listing td {
    text-align: center;
    vertical-align: middle;
}


.listing__actions {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs span{
    color: var(--color-primary);
    font-size: 0.8em;
    font-weight: 700;
    text-transform:capitalize;
}

.breadcrumbs > span:last-child::before{
    content: ">";
    color: var(--color-classic-dark);
    margin-right: 0.3em;
}