
.login-form {
    position: relative;
    top: 7rem;
}
.login-form form {
    margin-bottom: 1rem;
    background: var(--color-classic-base);
    box-shadow: 0 0 1.5rem rgba(220,220,220,0.5);
}
.login-form h3 {
    margin: 0 0 3rem;
}
.form-control, .btn {
    min-height: 2rem;
    border-radius: 0.25rem;
}
.btn {        
    font-size: 1em;
    font-weight: bold;
}

.login-form .alert {
    margin-top: -5rem;
    font-weight: 700;
}

.user__login body{
    background-image: url( '../../assets/images/interface/nesti-logo.png' ), url( '../../assets/images/users/bg-login.svg' ) ;
    background-repeat: no-repeat;
    background-size: 5rem 5rem, 5000px;
    background-position: 3rem 2rem, center 0;
    background-color: var(--color-primary-dark);
}


@media screen and (max-width: 768px) {


    .login-form form {
        padding: 3rem 3rem;
    }
}

@media screen and (min-width: 768px) {
    .login-form form {
        padding: 3rem 5rem;
    }
}

@media screen and (min-width: 960px) {

    .login-form form {
        padding: 3rem 8rem;
    }
}